[submodule "cuda/cuda-samples"]
	path = cuda/cuda-samples
	url = https://github.com/nvidia/cuda-samples
[submodule "unit_000_a_demos_slam_with_opencl/external/json"]
	path = unit_000_a_demos_slam_with_opencl/external/json
	url = https://github.com/nlohmann/json
